*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #343333;
    font-family: sans-serif;
    outline: none;

}

.containor{
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000000;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #4a4a4a,
                      5px 5px 12px rgba(0, 0, 0, .16);

    display: grid;
    grid-template-columns: repeat(4,70px);

}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #000000;

    box-shadow: inset -5px -5px 12px #4a4a4a,
                inset 5px 5px 5px rgba(0, 0, 0, .16);
    
    border: none;
    border-radius: 30px;
    border-width: 2px;

    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;


}


button{

    height: 40px;
    width: 40px;
    color: white;
    background-color: #000000;

    box-shadow: -5px -5px 12px #4a4a4a,
                5px 5px 12px  rgba(0, 0, 0, .16);

    border: none;            
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;

}

.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #000000;
    box-shadow: -5px -5px 12px #4a4a4a,
                5px 5px 12px  rgba(0, 0, 0, .16);
}